/* styles.css */

body {
  background-color: black;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  text-align: center;
}

.btn-default {
  width: 100%;
}

#options-container {
/*  background-color: black; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: inline-block;
  text-align: right;
  color: white;
}
