/* styles.css */

body {
  background-color: black;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  text-align: center;
}

.btn-default {
  width: 100%;
}

#options-container {
/*  background-color: black; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: inline-block;
  text-align: right;
  color: white;
}

.scrollable-log {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}

.irs-min, .irs-max {
  display: none;
}
.irs--shiny .irs-handle {
  background-color: #F00;
}
.irs--shiny .irs-bar {
  background: linear-gradient(to right, red, yellow, green);
  background: #F00;
  border-top: #000;
  border-bottom: #000;
}
.irs--shiny .irs-single {
  display: none;
}
.irs--shiny .irs-grid {
  display: none;
}

.shiny-input-container {
  text-align: center;
  font-size: 1.75rem;
}
.shiny-slider-label {
  display: block;
  width: 100%;
  text-align: center;
}
